body {
  margin: 0;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fff1f2; 
}
::-webkit-scrollbar-thumb {
  background: #be123c; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9f1239; 
}